<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liquable.photoplus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />

        <activity
            android:name="com.liquable.photoplus.MenuActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
        </activity>

        <service
            android:name="com.liquable.photoplus.PhotoPlusService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/photo_plus_start" />
        </service>
    </application>

</manifest>